<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>COVID-19 Peak Detector</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet" media="screen, projection, print"/>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script th:src="@{/webjars/chart.js/2.9.3/dist/Chart.min.js}"></script>
    <script th:src="@{/webjars/jquery.scrollTo/2.1.2/jquery.scrollTo.min.js}"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script>
</head>
<body class="container">

<h1 class="text-center">COVID-19 Peak Detector</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-block text-center">
                <img id="default-image" src="/images/flatten-curve.png" style="max-width: 500px; max-height:250px">
                <canvas id="cases-graph" width="2" height="1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <select id="countries" name="countries" class="form-control"
                    th:value="${country}">
                <option disabled selected value> - select a country -</option>
                <option th:id="'country-'+ ${status.index}"
                        th:each="c,status : ${countries}"
                        th:value="${c}">
                <span th:text="${c}"
                      th:title="${c}"></span>
                </option>
            </select>
        </div>
        <p>
            Create an alert and we will let you know when the infamous "peak" was reached in the country you selected.
        </p>
        <div class="form-group">
            <input id="phone" type="text" class="form-control" placeholder="Phone number - +441234567890">
        </div>
        <button id="create-alert-btn" class="btn btn-primary">Create alert</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span>Anonymous Chat - </span><span th:text="${chatUsername}"/>
            </div>
            <div class="card-body scroll">
                <ul class="chat">
                </ul>
            </div>
            <div class="card-footer">
                <input id="message" class="form-control" type="text" disabled/>
                <button id="btn-chat" class="btn btn-primary mt-1">Send</button>
            </div>
        </div>
    </div>
</div>

<script id="new-message" type="text/template">
    <li id="{{id}}" class="right clearfix">
        <div class="chat-body clearfix">
            <p>
                {{body}}
            </p>
        </div>
    </li>
</script>

<script th:inline="javascript">
const token = [[${twilioToken}]];


</script>

<script src="/js/main.js"></script>

</body>
</html>